/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/04/2019, 17:23:42
    Author     : Luis Orellana
*/

#menuPincipal{
    width: 20%;
    background-color: #FFA726;
    border: 3px red solid;
    padding: 5px 20px 5px 30px;
    float: left;
    text-align: left;
   
 
}
#contenido{
    width: 70%;
    background-color: #FFA726;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border: 3px red solid;
    float: left;
    
}

#pie{
    width: 100%;
    background-color: #FFA726;
    border: 3px red solid;
    float: left;
    text-align: center;
}

#lateral{
    width: 16%;
    border-width: thin;
    border-color: black;
    border-style: solid;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}