/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/04/2019, 14:31:38
    Author     : Luis Orellana
*/

*/*{
    border: 1px solid red;
}
*/

.principal{
    width: 100%;
    height: 400px;
    
}
.imagen{
display:block;
margin:auto;
    
    
}

#fondo{
    background-color: red;
}

body{
    background-color: wheat;
   
}
a {
    text-decoration: none;
    font-family: Verdana, Geneva, Arial, sans-serif;
}
p{
    text-align: justify;
}

h1,h2{
 font-family:arial !important;
color: black !important;  
}
ul, ul li { 
    margin: 1%; 
    padding: 1%; 
    list-style: none; 
    margin-bottom: .5em;
    padding: 5px;
}

.consulta {
    max-width: 500px; 
    background: wheat; 
    padding: 25px;
    font-family: 'ARIAL';
     
}

.campos {
    width:100%; height:36px;
    margin:2px 0 6px;
    padding-left:6px;
    box-sizing: border-box;
    border-radius:3px;
    border:0;
    font-family: 'ARIAL';
    font-size:1em;
}

label span {
    color: wheat;
}
textarea {
    min-height: 150px!important;
}
.boton {
       display: inline-table; 
       border:2px;
       background:#FFA726; 
       height: 46px; 
       line-height: 46px; 
       padding: 0 20px; 
       border-radius: 6px; 
       color:black; 
       text-decoration: none; 
       text-transform: uppercase; 
       letter-spacing: 1px
}

