/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/04/2019, 17:23:53
    Author     : Luis Orellana
*/

#menuPincipal{
    width: 20%;
    background-color: #FFA726;
    border: 3px red solid;
    padding: 5px 20px 5px 30px;
    border-radius: 8px;
    float: left;
    text-align: left;
 
}
#contenido{
    width: 50%;
    background-color:#FFA726;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border: 3px red solid;
    float: left;
    border-radius: 8px;
    
}

#pie{
    width: 100%;
    background-color: #FFA726;
    border: 3px red solid;
    border-radius: 8px;
    float: left;
    text-align: center;
}

#lateral{
    width: 16%;
    background-color: #FFA726;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
    border: 3px red solid;
    float: left;
    
}